bin
build
target
test-output
work
activemq-data
.checkstyle
.classpath
.gradle
.project
.settings
.springBeans
*.class
*.MF

# IntelliJ DEA
*.iml
*.ipr
*.iws
out
.idea
.rup
.idea

/.rup/
*/out/*

debug.log
pubportal-special-request/catalina.base_IS_UNDEFINED/*
/caches/
/daemon/
/native/
/wrapper/
